
<div align="center"> 
    <% if session[:oktastate] %>
    <h2>Your connections, <%= session[:oktastate]["info"]["name"] %></h2>
    <%# <%= session[:oktastate].to_json %>   
    <% else %>
    <h2>Hello, please login to explore personicle!</h2>
    <% end %>
</div>